<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Concluída</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>
            {% if nome_cliente %}
                Parabéns, {{ nome_cliente }}!
            {% else %}
                Compra Concluída!
            {% endif %}
        </h1>
        <p>Seus números da sorte são:</p>
        <ul id="tokenList">
            {% if tokens %}
                {% for token in tokens %}
                    <li>{{ token }}</li>
                {% endfor %}
            {% else %}
                <li>Nenhum número da sorte encontrado ou seu pedido ainda está sendo processado.</li>
            {% endif %}
        </ul>
        <p>Enviamos também para o seu e-mail.</p>
        <a href="/" class="button">Voltar ao Início</a>
    </div>

    </body>

</html>